# Your Gitlab Account Email
GITLAB_USER_NAME=

# Your generated Gitlab access token that has API read/write access
GITLAB_ACCESS_TOKEN=

# The ID of your Gitlab Project, usually found in the settings
GITLAB_PROJECT_ID=
